<!doctype html>
<title>Doccu - {{title}}</title>
<style>
.data-collect {
  position:fixed;
  top:2em;
  right:2em;
  padding:1em;
  box-shadow:0 0 8px rgba(128, 128, 128, 0.8);
	-webkit-box-shadow:0 0 8px rgba(128, 128, 128, 0.8);
	-moz-box-shadow:0 0 8px rgba(128, 128, 128, 0.8)
}
</style>
<h2>Document: {{title}}</h2>
<h3>Active: {{date}}</h3>
<h3>Version: {{version}}</h3>
<h3>Review: {{renew_date}}</h3>
<small>Last Edited By: {{userid}}</small>
<h3>Category: </h3>
<ul>
{% for item in category %}
     {% if item !='' %}
        <li><a href="/category/{{item}}">{{item}}</a></li>
    {% endif %}
{% endfor %}
</ul>
<hr/>
<h3>Descriptor:</h3>
{{descriptor}}
<hr/>
<h3>Preamble:</h3>
{{preamble}}
<hr/>
<h3>Document Proper:</h3>
{% for line in content %}
    <p>{{line}}</p>
{% endfor %}

<div class="data-collect">
  <p><a href="/">Home</a></p>
  <input id="clickMe" type="button" value="Download PDF" onclick="pdfMake.createPdf(docDefinition).download('{{version}}_{{title}}_{{date}}');" />
  <p><a href="/document/{{file}}/json" target="_blank">JSON Data</a></p>
  <p><a href="{{path}}edit">Edit Document</a></p>
  <p><a href="/document/new/new" target="_blank">New Document</a></p>
</div>


<script src="/static/js/pdfmake.min.js"></script>
<script src="/static/js/vfs_fonts.js"></script>
<script>
var docDefinition = {
  pageSize: "A4",
  pageMargins: [40, 60, 40, 60],
  header: {
    marginLeft: 20,
    marginRight: 20,
    marginTop: 20,
    columns: [
      { text: "Version: {{version}}, Approved: {{date}}"},
      { text: "{{title}}", alignment: "right" }
    ]
  },
  footer: function(pagenumber, pagecount) {
    return {
        marginLeft: 20,
        marginRight: 20,
        columns: [
           { text: "Ballarat Christian College"},
           { text: pagenumber.toString() + " of " + pagecount, alignment: "right" },
        ],
  }},
  content: [
    { text: "Document:", fontSize: 15 },
    "{{title|safe}}",
    "\n",
    { text: "Version:", fontSize: 15 },
    "{{version}}",
    "\n",
    { text: "Last Edited By:", fontSize: 8 },
    { text: "{{userid}}", fontSize: 8 },
    "\n",
    { text: "Active:", fontSize: 15 },
    "{{date}}",
    "\n",
    { text: "Review:", fontSize: 15 },
    "{{renew_date}}",
    "\n",
    { text: "Category:", fontSize: 15 },
    "\n",
    {
      ul: [
        {% for item in category %}
            "{{item|safe}}",
        {% endfor %}
      ],
      pageBreak: "after"
    },
    "\n",
    { text: "Descriptor:", fontSize: 15 },
    "\n",
    "{{descriptor_json|safe}}",
    { text: "Preamble", fontSize: 15, pageBreak: "before" },
    "\n",
    "{{preamble_json|safe}}",
    "\n",
    { text: "Document Proper:", fontSize: 15, pageBreak: "before" },
    "\n",
    {% for line in content_json %}
        {% if content_json.index(line) == content_json[-1] %}
            "{{line|safe}}"
        {% else %}
            "{{line|safe}}",
        {% endif %}
    {% endfor %}
  ]
}
</script>
